/* Gruvbox Dark - Waybar */

* {
  font-family: "JetBrains Mono", "Noto Sans", sans-serif;
  font-size: 12px;
  color: #ebdbb2;
}

#custom-arch {
  padding: 0 14px;
  margin: 6px 6px 6px 4px;
  border-radius: 10px;
  background: #3c3836;
  color: #fabd2f;
  font-size: 16px;
}

#custom-arch:hover {
  background: #fabd2f;
  color: #282828;
}

window#waybar {
  background: #282828;
  border: 2px solid #fabd2f;
  border-radius: 10px;
}

#workspaces button {
  padding: 0 10px;
  margin: 6px 3px;
  border-radius: 10px;
  background: #3c3836;
  color: #ebdbb2;
}

#workspaces button.active {
  background: transparent;
  color: #282828;
  border: 2px solid #fabd2f;
  font-weight: bold;
}

#workspaces button:hover {
  background: #fabd2f;
  color: #fabd2f;
}

#clock,
#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#bluetooth,
#custom-power,
#tray {
  padding: 6px 10px;
  margin: 6px 4px;
  border-radius: 10px;
  background: #3c3836;
}

/* CPU */
#cpu {
  color: #fabd2f;
}

#cpu:hover {
  background: #fabd2f;
  color: #282828;
}

/* Memory */
#memory {
  color: #83a598;
}

#memory:hover {
  background: #83a598;
  color: #282828;
}

/* Temperature */
#temperature {
  color: #b8bb26;
}

#temperature.critical {
  color: #fb4934;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

/* Tray */
#tray {
  margin-left: 10px;
}

#custom-keyboard {
  padding: 0 10px;
  margin: 6px 4px;
  border-radius: 10px;
  background: #3c3836;
  color: #ebdbb2;
  font-weight: bold;
  min-width: 28px;
}

#custom-keyboard.russian:hover {
  background: #8b3a3a;
  color: #ebdbb2;
}

#custom-keyboard.english:hover {
  background: #3a5a8b;
  color: #ebdbb2;
}

/* Battery - Gruvbox */
#battery {
  padding: 0 10px;
  margin: 6px 4px;
  border-radius: 10px;
  background: #3c3836;
}

#battery.good {
  color: #b8bb26;
}

#battery.good:hover {
  background: #b8bb26;
  color: #282828;
}

#battery.warning {
  color: #fabd2f;
}

#battery.warning:hover {
  background: #fabd2f;
  color: #282828;
}

#battery.critical {
  color: #fb4934;
}

#battery.critical:hover {
  background: #fb4934;
  color: #282828;
}
